
.conteiner::after {
    content: "";
    clear: both;
    display: table;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderRight{
    border-right: 1px solid blue;
}

body{
    background-image: url("https://lh3.googleusercontent.com/proxy/vYs7Tltgdep0RGQcLki1IpYqhGcarwAUFWYOcHJ9RHPbT6XWYs4tAoX7ScMVoNfiKt5IZHU4Mr40mnX0GmjNUEOmLa5IQIYpUvcgc9ckExEiFT6h-57fqHszTtE2X-iTG_gwyBKwEAty6w");
}


.wrapper{

}

.margin{
    max-width: 600px;
    margin: 0 auto;
}


/* inizio header */
.header{
    background-color: purple;
}

.header .box{
    background-color: SKYBLUE;
    /* height: 50px; */
}

 .header .box > .div{
    margin: 10px;
}

.header .box .left{
    background: blue;
    /* height: 50px; */
    /* width: 40px; */
    float: left;
}

.header .box .left ul{
    list-style-type: none;
    padding: 0;
}

.header .box .left ul li{
    background-color: orange;
    float: left;
    display: inline-block;
    padding: 15px;
}

.header .box .left ul li a{
    color: green;
    text-decoration: none;
}

.header .box .right{
    background-color: red;
    /* height: 50px; */
    /* width: 40px; */
    float: right;

}

.header .box .right ul{
    list-style-type: none;
    padding: 0;
}

.header .box .right ul li{
    background-color: orange;
    float: left;
    display: inline-block;
    padding: 15px;
}

.header .box .right ul li a{
    color: green;
    text-decoration: none;
}

/* fine header */
/* inizio barra di navigazione */
nav{
    background-color: navy;
}

nav .box{
    background-color: seagreen;
    /* height: 50px; */
}

 nav .box > .div{
    margin: 10px;
}

nav .box .left{
    background: sienna;
    /* height: 50px; */
    /* width: 40px; */
    float: left;
}

nav .box .left ul{
    list-style-type: none;
    padding: 0;
}

nav .box .left ul li{
    background-color: orange;
    float: left;
    display: inline-block;
    padding: 15px;
}

nav .box .left ul li a{
    color: green;
    text-decoration: none;
}

nav .box .right{
    background-color: red;
    /* height: 50px; */
    /* width: 40px; */
    float: right;

}

nav .box .right ul{
    list-style-type: none;
    padding: 0;
}

nav .box .right ul li{
    background-color: orange;
    float: left;
    display: inline-block;
    padding: 15px;
}

nav .box .right ul li a{
    color: green;
    text-decoration: none;
}

/* fine barra di navigazione */
/* inizio notice */
.notice{
    background-color: YELLOW;
    /* height: 50px; */
}

.notice .messagge{
    background-color: purple;
    /* height: 20px; */
}

.notice .messagge p{
    padding: 15px 0 15px 10px;
    /* height: 20px; */
}
