
.conteiner::after {
    content: "";
    clear: both;
    display: table;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderRight{
    border-right: 1px solid lightgray;
}

body{
    background-image: url("https://lh3.googleusercontent.com/proxy/vYs7Tltgdep0RGQcLki1IpYqhGcarwAUFWYOcHJ9RHPbT6XWYs4tAoX7ScMVoNfiKt5IZHU4Mr40mnX0GmjNUEOmLa5IQIYpUvcgc9ckExEiFT6h-57fqHszTtE2X-iTG_gwyBKwEAty6w");
}


.wrapper{
    font-size: 14px;
}

.margin{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 3px;
}

.styleOrange{
    background-color: orange;
    color: white;
    border: 1px solid orange;
}


/* inizio header */
.header{
    background-color: rgb(217 222 226);
}

.header .box{
    /* background-color: SKYBLUE; */
}

 .header .box > .div{
    /* margin: 5px; */
}

.header .box .left{
    /* background: blue; */
    float: left;
    height: 100%;
}

.header .box .left ul{
    list-style-type: none;
    padding: 0;
}

.header .box .left ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 10px 15px;
}

.header .box .left ul li a{
    color: gray;
    text-decoration: none;
}

.header .box .right{
    /* background-color: red; */
    float: right;
}

.header .box .right ul{
    list-style-type: none;
    padding: 0;
}

.header .box .right ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 10px 5px;
}

.header .box .right ul li a{
    text-decoration: none;
}

.header .box .right ul:first-child i{
    /* background-color: orange; */
    color: blue;
    padding: 5px 15px;
}

.header .box .right ul:first-child i{
    /* background-color: orange; */
    color: blue;
}

.header .box .right ul :nth-child(2) span{
    /* background-color: orange; */
    color: orange;
    background-color: white;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 5px 20px;
}

.header .box .right ul :last-child a{
    /* background-color: red; */
    padding: 5px;
}

/* fine header */
/* inizio barra di navigazione */
nav{
    background-color: white;
}

nav .box{
    /* background-color: seagreen; */
    /* height: 50px; */
}

nav .box > .div{
    margin: 10px;
}

nav .box .left{
    /* background: sienna; */
    /* height: 50px; */
    /* width: 40px; */
    float: left;
    padding: auto 10px;
}

nav .box .left a{
    background-color: red;
}

nav .box .left a img{
    height: 40px;
    display: inline;
}

nav .box .right{
    /* background-color: red; */
    /* height: 50px; */
    /* width: 40px; */
    float: right;

}

nav .box .right ul{
    list-style-type: none;
    padding: 0;
}

nav .box .right ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 15px;
}

nav .box .right ul li a{
    color: black;
    text-decoration: none;
}

/* fine barra di navigazione */
/* inizio notice */
.notice{
    background-color: rgb(66,91,118);
    /* height: 50px; */
}

.notice .messagge{
    /* background-color: purple; */
    /* height: 20px; */
    color: white;
    padding: 15px 0 15px 20px;
    font-size: 16px;
}

.notice .messagge p{
    /* height: 20px; */
    text
}

/* inizio div jumbotron */
.jumbotron{
    background-color: rgb(255,242,238);
    position: relative;
}

.jumbotron .text.large{
    /* background-color: green; */
    width: 260px;
    position: absolute;
    transform: translate(20px, 25px);
}

.jumbotron .text.large h3{
    /* background-color: red; */
    text-align: center;
    font-size: 1.2em;
}

.jumbotron .text.large p{
    /* background-color: purple; */
}

.jumbotron .text.small{
    /* background-color: green; */
    width: 150px;
    position: absolute;
    transform: translate(20px, 125px);
}

.jumbotron .text.small a{
    display: block;
    text-decoration: none;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.jumbotron .small p{
    /* background-color: lightgreen; */
    font-size: 10px;
    margin-top: 15px;
}

.jumbotron img{
    width: 100%;
}

/* inizio shop */
.div-shop{
    background-color: lightblue;
    align-content: center;
}

.div-shop .listaProdotti{
    background-color: red;
}

.div-shop.row{
    background-color: green;
    padding: 10px 0 0  10px;
}

.div-shop .listaProdotti .row .prodotto{
    background-color: YELLOW;
    border: 1px solid black;
    display: inline-block;
    float: left;
    width: calc(33.33% - 10px);
    margin: 0 10px 10px 0;
    height: 100%;
}

/* inizio community */
.community{
    background-color: rgb(0,185,168);
}

.community .content{
    color: white;
    padding: 30px;
    text-align: center;
}

.community .content .content-top{
    font-size: 17px;
}

.community .content .content-top p{
    font-size: 16px;
    margin-top: 10px;
}

.community .content .content-down{
    /* background: green; */
    margin-top: 30px;
    margin-bottom: 30PX;
}

.community .content .content-down .row{
    /* border: 1px solid red; */
    width: calc(100% );
    height: 155px;
}

.community .content .content-down .row:last-child{
    border-top: 1px solid white;
}

.community .content .row .tableCell:nth-child(2){
    border-left: 1px solid white;
}

.community .content .row .tableCell:nth-child(3){
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.community .content .content-down .row .tableCell{
    /* border: 1px solid yellow; */
    float: left;
    padding: 20px;
    width: calc(25% );
    display: inline-block;
    height: 100%;
}

.tableCell i{
    font-size: 25px;
}

.tableCell .numbers{
    font-size: 40px;
    font-weight: bolder;
}

.tableCell .text{
    font-size: 14px;
}
