
.conteiner::after {
    content: "";
    clear: both;
    display: table;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderRight{
    border-right: 1px solid lightgray;
}

body{
    background-image: url("https://lh3.googleusercontent.com/proxy/vYs7Tltgdep0RGQcLki1IpYqhGcarwAUFWYOcHJ9RHPbT6XWYs4tAoX7ScMVoNfiKt5IZHU4Mr40mnX0GmjNUEOmLa5IQIYpUvcgc9ckExEiFT6h-57fqHszTtE2X-iTG_gwyBKwEAty6w");
}

.chat{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    background-color: RGB(66, 92, 119);
    /* background-color: gray; */
    padding: 10px;
    border-radius: 100%;
    z-index: 5;
}

.riquadro{
    border-radius: 7px;
    background-color: white;
    font-size: 14px;
    width: 200px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    padding: 30px 15px 20px;
    border: 1px solid lightgray;
    z-index: 5;
}

.riquadro img{
    position: absolute;
    height: 45px;
    left: calc(50% - (45px / 2));
    top: -22.5px;
    z-index: 6;
    /* transition: translate(-50%, -50%); */
}

.riquadro .closeChat{
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    font-weight: bold;
    z-index: 6;
}


.wrapper{
    font-size: 14px;
}

.margin{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 3px;
}

.styleOrange{
    background-color: orange;
    color: white;
    border: 1px solid orange;
}

.opacity:hover{
    opacity: 0.5;
}


.fixed{
    position: fixed;
    width:100vw;
    z-index: 5;
}

/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Step 2: Reference Individual Icons */
.login::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
}

.feature::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  color: orange;
}

/* inizio header */
.header{
    background-color: rgb(217 222 226);
}

.header .box{
    /* background-color: SKYBLUE; */
    max-width: 600px;
}

.header .box > .div{
    /* margin: 5px; */
}

.header .box .left{
    /* background: blue; */
    float: left;
    height: 100%;
}

.header .box .left ul{
    list-style-type: none;
    padding: 0;
}

.header .box .left ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 10px 15px;
}

.header .box .left ul li a{
    color: gray;
    text-decoration: none;
}

.header .box .right{
    /* background-color: red; */
    float: right;
}

.header .box .right ul{
    list-style-type: none;
    padding: 0;
}

.header .box .right ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 10px 5px;
}

.header .box .right ul li a{
    text-decoration: none;
}

.header .box .right ul:first-child i{
    /* background-color: orange; */
    color: blue;
    padding: 5px 15px;
}

.header .box .right ul:first-child i{
    /* background-color: orange; */
    color: blue;
}

.header .box .right ul :nth-child(2) span{
    /* background-color: orange; */
    color: orange;
    background-color: white;
    border: 1px solid orange;
    border-radius: 3px;
    padding: 5px 20px;
}

.header .box .right ul :last-child a{
    /* background-color: red; */
    padding: 5px;
}

/* inizio barra di navigazione */
nav{
    background-color: white;
    padding-top: 50px;
}

nav .box{
    /* background-color: seagreen; */
    /* height: 50px; */
}

nav .box > .div{
    margin: 10px;
}

nav .box .left{
    /* background: sienna; */
    /* height: 50px; */
    /* width: 40px; */
    float: left;
    padding: auto 10px;
}

nav .box .left a{
    /* background-color: red; */
}

nav .box .left a img{
    height: 40px;
    /* display: inline; */
}

nav .box .right{
    /* background-color: red; */
    /* height: 50px; */
    /* width: 40px; */
    float: right;

}

nav .box .right ul{
    list-style-type: none;
    padding: 0;
}

nav .box .right ul li{
    /* background-color: orange; */
    float: left;
    display: inline-block;
    padding: 15px;
}

nav .box .right ul li a{
    color: black;
    text-decoration: none;
}

/* inizio notice */
.notice{
    background-color: rgb(66,91,118);
    /* height: 50px; */
}

.notice .messagge{
    /* background-color: purple; */
    /* height: 20px; */
    color: white;
    padding: 15px 0 15px 20px;
    font-size: 16px;
}

.notice .messagge p{
    /* height: 20px; */
    text
}

/* inizio div jumbotron */
.jumbotron{
    background-color: rgb(255,242,238);
    position: relative;
}

.jumbotron .text.large{
    /* background-color: green; */
    width: 260px;
    position: absolute;
    transform: translate(20px, 20px);
}

.jumbotron .text.large h3{
    /* background-color: red; */
    text-align: center;
    font-size: 1.2em;
}

.jumbotron .text.large p{
    /* background-color: purple; */
}

.jumbotron .text.small{
    /* background-color: green; */
    width: 150px;
    position: absolute;
    transform: translate(20px, 135px);
}

.jumbotron .text.small a{
    display: block;
    text-decoration: none;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.jumbotron .small p{
    /* background-color: lightgreen; */
    font-size: 10px;
    margin-top: 15px;
}

.jumbotron img{
    width: 100%;
}

/* inizio shop */
.div-shop{
    /* border: 3px solid red; */
    background-color: lightgray;
}

.div-shop .listaProdotti{
    /* border: 3px solid orange; */
}

.div-shop .listaProdotti .row{
    /* border: 3px solid lightgreen; */
    height: 336px;
}

.div-shop .listaProdotti .row .prodotto{
    /* border: 3px solid green; */
    display: inline-block;
    float: left;
    width: calc(33.33% - 20px);
    background-color: white;
    margin: 10px;
    padding: 5px;
    height: calc(100% - 20px);
}

.div-shop .listaProdotti :first-child .prodotto:first-child{
    /* border: 3px solid blue; */
    background-color: lightgray;
}

.div-shop .listaProdotti .row .prodotto.text{
    padding: 0;
}

.div-shop .listaProdotti .row .prodotto.text h3{
    font-size: 25px;
}

.div-shop .listaProdotti .row .prodotto.text p{
    margin-top: 8px;
    font-size: 14px;
}

.div-shop .row .prodotto .prodottoHeader{
    border-bottom: 1px solid  rgb(178,176,179);
}

.div-shop .row .prodotto .prodottoHeader h3{}

.div-shop .row .prodotto .prodottoHeader h3 i{
    color: blue;
    font-size: 15px;
    margin-left: 2px;
}

.div-shop .row .prodotto .prodottoHeader p{
    margin: 8px;
}

.div-shop .row .prodotto .prodottoFooter{
    margin-top: 8px;
}

.div-shop .row .prodotto .prodottoFooter span{
}

.div-shop .row .prodotto .prodottoFooter ul{
    padding-left: 0;
    list-style-type: none;
}

.div-shop .row .prodotto .prodottoFooter ul li{
    margin: 8px;
}

.div-shop .row .prodotto .prodottoFooter a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: orange;
}

/* inizio community */
.community{
    background-color: rgb(0,185,168);
}

.community .content{
    color: white;
    padding: 30px;
    text-align: center;
}

.community .content .content-top{
    font-size: 17px;
}

.community .content .content-top p{
    font-size: 16px;
    margin-top: 10px;
}

.community .content .content-down{
    /* background: green; */
    margin-top: 30px;
    margin-bottom: 30PX;
}

.community .content .content-down .row{
    /* border: 1px solid red; */
    width: calc(100% );
    height: 155px;
}

.community .content .content-down .row:last-child{
    border-top: 1px solid white;
}

.community .content .row .tableCell:nth-child(2){
    border-left: 1px solid white;
}

.community .content .row .tableCell:nth-child(3){
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.community .content .content-down .row .tableCell{
    /* border: 1px solid yellow; */
    float: left;
    padding: 20px;
    width: calc(25% );
    display: inline-block;
    height: 100%;
}

.tableCell i{
    font-size: 25px;
}

.tableCell .numbers{
    font-size: 40px;
    font-weight: bolder;
}

.tableCell .text{
    font-size: 14px;
}

/* div costumer */
.costumer{
    /* border: 3px solid black; */
    /* height: 100%; */
}

.costumer .content{
    /* border: 3px solid orange; */
    /* height: 50px; */
    padding: 15px 0;
}

.costumer .content .left{
    /* border: 3px solid red; */
    /* height: 20px; */
    float: left;
    padding: 0 15px 0 15px;
    width: calc(40%);
    height: 100%;
}

.costumer .content .left h3{
    font-size: 40px;
}

.costumer .content .left p{
    font-size: 10px;
}

.costumer .content .right{
    /* border: 3px solid purple; */
    /* height: 20px; */
    float: left;
    width: calc(60%);
    height: 100%;
}

.costumer .content .right .tableCostumer{
    /* border: 3px solid brown; */
}

.costumer .content .right .tableCostumer .row{
    /* border: 3px solid green; */
}

.costumer .content .right .tableCostumer .row .tableCell{
    /* border: 3px solid black; */
    display: inline-block;
    float: left;
    margin: 5px;
    width: calc(25% - 10px);
}

.costumer .content .right .tableCostumer .row .tableCell img{
    /* border: 3px solid gray; */
    width: 100%;
}

/* div comment */
.section-comment{
    /* border: 3px solid red; */
}

.section-comment .content{
    padding: 25px 0;
    /* border: 3px solid lightblue; */
}

.section-comment .content .left{
    /* border: 3px solid green; */
    display: inline-block;
    float: left;
    width: 50%;
}

.section-comment .content .left .text-top{
    font-size: 25px;
    padding-left: 5px;
}

.section-comment .content .left  .text-down{
    font-size: 12px;
    text-align: center;
}

.section-comment .content .left .text-down p{
    text-align: left;
    padding: 15px 5px 15px 0;
}

.section-comment .content .left .text-down a{
    display: inline-block;
    padding: 12px 18px;
    align-items: center;
    text-decoration: none;
}

.section-comment .content .right{
    /* border: 3px solid purple; */
    float: left;
    width: 50%;
}

.section-comment .content .right img{
    width: 100%;
    padding: 5px;
}

/* footer */

footer{
    /* border: 3px solid green; */
    background-color: rgb(50, 71, 90);
    color: white;
    padding-top: 20px;
}

footer span{
    font-size: 1.5em;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

footer ul li{
    padding-top: 7px;
    padding-down: 7px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

footer ul li a:hover{
    color: lightblue;
}

footer .section-link{
    display: inline-block;
    float: left;
    width: 25%;
}

footer .section-link:not(:first-child){
    padding: 8px;
}

footer .section-link .ContactHubspot{
    padding-top: 10px;
}

footer .section-link .ContactHubspot .concactButton{
    text-align: center;
    padding: 5px 0;
    background: white;
    color: blue;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    margin: 10px;
}

footer .section-link .ContactHubspot .social li {
    display: inline;
    float: left;
    width: 16.5%;
}

/* --------------------------------------- */
footer .language{
    /* padding-bottom: 10px; */
    margin-top: 10px;
    width: 100%;
    /* border: 3px solid red; */
}

footer .language .selectLanguage{
    /* border-bottom: 1px solid purple; */
    /* border: 3px solid orange; */
}

footer .language ul{
    /* border: 3px solid yellow; */
    margin: 0 auto;
    width: 98%;
    text-align: center;
}

footer .language li{
    display: inline-block;
    /* border: 3px solid green; */
    /* float: left; */
}

footer .language a{
    padding: 10px 15px;
}

/* ---------------------------------------- */
footer .footer-down{
    padding-top: 10px;
}

footer .footer-down .left{
    display: inline-block;
    float: left;
}

footer .footer-down .right{
    display: inline-block;
    float: right;
}

footer .footer-down .right{
    display: inline-block;
    float: right;
}

footer .footer-down .right li {
    display: inline-block;
    float: right;
    padding: 15px 15px;
}
